[submodule "androiddev_ClassEgAnswer"]
	path = androiddev_ClassEgAnswer
	url = git@github.com:mahabrashid/androiddev_ClassEgAnswer.git
[submodule "androiddev_SquareAnswer"]
	path = androiddev_SquareAnswer
	url = git@github.com:mahabrashid/androiddev_SquareAnswer.git
[submodule "androiddev_FirstAndroidApp"]
	path = androiddev_FirstAndroidApp
	url = git@github.com:mahabrashid/androiddev_FirstAndroidApp.git
